<div class="units-row" style="height:1000px">
	<div class="unit-push-30 unit-50">
		<hr>
	    <h1 class="header">GROUP MESSAGES </h1>

	    <hr>
	      
	<div id="message_box"></div>

	</div>
</div>
<script>

	window.loadChatBox(<%=@messages.html_safe%>);

</script>